<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="FluentWPF" version="0.8.0" targetFramework="net472" />
  <package id="Fody" version="6.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="ModernWpfUI" version="0.9.0-preview.200528.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NHotkey" version="2.0.1" targetFramework="net472" />
  <package id="NHotkey.Wpf" version="2.0.1" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.7.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>